@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    padding: 0px;
    margin: 0px;
}
.search{
    padding-left: 26px;
    border-radius: 20px;
    margin-top: 20px;
    width: 50vw;
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    padding: 8px;
    border: 1px solid black;
}
.search:focus{
    background-color: rgba(180,180,180);
    color: white;
}
::placeholder{
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
}
#newslist{
    overflow: scroll;
    margin-top: 90px;
}